.cur {
    height: 80vh;
}

.cur > * {
    font-family: 'robo';
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {
    .cur {
        /* height: 200vh; */
    }
}

/* DESK RULES */
@media screen and ( min-width: 700px) {
    .cur {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .img{

        height: 80vh;
        padding-bottom: 10em;
    }
}