.basic{
    width: 100%;
}
.title {
    display: flex;
    justify-content: space-between;
    font-family: 'titles';
}
.basic > p {
    font-family: 'robo';
}

.tags {
    margin: .5em 0;
}

/* PHONE RULES */
@media screen and ( max-width: 699px) {}

/* DESK RULES */
@media screen and ( min-width: 700px) {}